.left-sidebar {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 350px;
  width: 100%;
  padding: 30px;
  border: 1px solid #565656;
  border-radius: 30px;
  background-color: var(--left-sidebar-color);
  .setting {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -15px;
    top: 10px;
    background-color: var(--left-sidebar-color);
    width: 40px;
    height: 40px;
    animation: setting 3s linear infinite;
    border-radius: 50%;
    .setting-icon {
      color: var(--secondary-color);
      font-size: 20px;
    }
  }
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .sidebar-logo {
      width: 128px;
      height: 36px;
      .sidebar-logo-img {
        height: 100%;
      }
    }
    .sidebar-job {
      max-width: 110px;
      .sidebar-job-text {
        font-size: 14px;
        color: var(--primary-text-color);
        text-align: end;
        line-height: 20px;
      }
    }
  }
  .sidebar-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sidebar-main-img {
      max-width: 250px;
      max-height: 211px;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      object-fit: cover;
      margin-bottom: 46px;
    }
    .gmail {
      color: var(--primary-text-color);
      font-size: 24px;
      font-weight: 300;
      line-height: 29px;
      margin-bottom: 8px;
    }
    .country {
      color: var(--primary-text-color);
      font-size: 24px;
      font-weight: 300;
      line-height: 29px;
      margin-bottom: 40px;
    }
    .social {
      display: flex;
      gap: 8px;
      margin-bottom: 40px;
      .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
        border-radius: 50%;
        font-size: 18px;
        transition: all 0.3s;
        &:hover {
          color: var(--main-border);
          border-color: var(--main-border);
        }
      }
    }
    .sidebar-btn {
      width: 100%;
      background-color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 11px 0;
      border-radius: 30px;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      line-height: 27px;
      border: 2px solid var(--main-border);
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        background-color: var(--primary-background);
        color: var(--main-border);
        transform: scale(1.05);
      }
      .sidebar-btn-icon {
        margin-right: 9px;
        font-size: 20px;
      }
    }
  }
}

@keyframes setting {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1220px) {
  .left-sidebar {
    max-width: 767px;
    width: 100%;
    position: static;
    transform: translateY(0);
    margin: 0 auto;
    margin-top: 20px;
  }
}
