.mb-menu {
  position: fixed;
  right: 20px;
  bottom: 50px;
  opacity: 0.7;
  display: none;
  .mb-menu-container {
    display: flex;
    justify-content: flex-end;
    .menu-head {
      min-width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
      font-size: 12px;
    }
    .menu-main {
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      order: -1;
      border-radius: 16px;
      width: 0;
      overflow: hidden;
      transition: all 0.3s;
      opacity: 0;
      &.open {
        width: 100%;
        padding: 0 16px;
        opacity: 1;
      }
      .nav-list {
        display: flex;
        gap: 16px;
        .nav-item {
          .nav-link {
            display: flex;
            align-items: center;
            cursor: pointer;
            .icon {
              color: #fff;
              transition: color 0.3s;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .mb-menu {
    display: block;
  }
}
